<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninam.employeemanagement">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ninam.employeemanagement.manager.ManagerMainActivity"
            android:label="@string/title_activity_manager_main" />
        <activity android:name="com.ninam.employeemanagement.manager.ModifyScheduleActivity" />
        <activity
            android:name="com.ninam.employeemanagement.manager.MNotificationsActivity"
            android:label="Employee Notifications" />
        <activity
            android:name=".manager.MMainActivity"
            android:label="Manage Schedules"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.ninam.employeemanagement.employee.EMainActivity" />
        <activity
            android:name="com.ninam.employeemanagement.login.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name="com.ninam.employeemanagement.MainActivity"
            android:label="@string/main_label"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>